name: Backport
on:
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  backport:
    name: Backport Pull Request
    permissions:
      contents: write
      pull-requests: write
    if: github.repository_owner == 'NixOS' && github.event.pull_request.merged ==
      true && (github.event_name != 'labeled' || startsWith('backport', github.event.label.name))
    runs-on: ubuntu-24.04-arm
    steps:
    - name: Generate GitHub App token
      id: generate-token
      uses: actions/create-github-app-token@v2
      with:
        app-id: ${{ vars.CI_APP_ID }}
        private-key: ${{ secrets.CI_APP_PRIVATE_KEY }}
    - uses: actions/checkout@v6
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0
    - name: Create backport PRs
      uses: korthout/backport-action@c656f5d5851037b2b38fb5db2691a03fa229e3b2
      id: backport
      with:
        github_token: ${{ steps.generate-token.outputs.token }}
        github_workspace: ${{ github.workspace }}
        auto_merge_enabled: true
        pull_description: 'Automatic backport to `${target_branch}`, triggered by
          a label in #${pull_number}.'
