name: CI
on:
  pull_request: null
  push: null
permissions: read-all
jobs:
  tests:
    needs:
    - check_cachix
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: cachix/install-nix-action@v30
      with:
        extra_nix_config: 'sandbox = true

          max-jobs = 1

          '
    - run: echo CACHIX_NAME="$(echo $GITHUB_REPOSITORY-install-tests | tr "[A-Z]/"
        "[a-z]-")" >> $GITHUB_ENV
    - uses: cachix/cachix-action@v15
      if: needs.check_cachix.outputs.secret == 'true'
      with:
        name: ${{ env.CACHIX_NAME }}
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      if: matrix.os == 'ubuntu-latest'
    - run: nix-build release.nix -A build.$(nix-instantiate --eval -E '(builtins.currentSystem)')
  check_cachix:
    name: Cachix secret present for installer tests
    runs-on: ubuntu-latest
    outputs:
      secret: ${{ steps.secret.outputs.secret }}
    steps:
    - name: Check for Cachix secret
      id: secret
      env:
        _CACHIX_SECRETS: ${{ secrets.CACHIX_SIGNING_KEY }}${{ secrets.CACHIX_AUTH_TOKEN
          }}
      run: 'echo "::set-output name=secret::${{ env._CACHIX_SECRETS != '''' }}"

        '
