name: Push Docker Image
on:
  workflow_call:
    inputs:
      ref:
        description: Git ref to build the docker image from
        required: true
        type: string
      is_master:
        description: Whether run from master branch
        required: true
        type: boolean
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
permissions: {}
jobs:
  check_secrets:
    permissions:
      contents: none
    name: Check presence of secrets
    runs-on: ubuntu-latest
    outputs:
      docker: ${{ steps.secret.outputs.docker }}
    steps:
    - name: Check for DockerHub secrets
      id: secret
      env:
        _DOCKER_SECRETS: ${{ secrets.DOCKERHUB_USERNAME }}${{ secrets.DOCKERHUB_TOKEN
          }}
      run: 'echo "docker=${{ env._DOCKER_SECRETS != '''' }}" >> $GITHUB_OUTPUT

        '
  push:
    name: Push docker image to DockerHub and GHCR
    needs:
    - check_secrets
    permissions:
      contents: read
      packages: write
    if: needs.check_secrets.outputs.docker == 'true'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        fetch-depth: 0
        ref: ${{ inputs.ref }}
    - uses: ./.github/actions/install-nix-action
      with:
        dogfood: false
        extra_nix_config: 'experimental-features = flakes nix-command

          '
    - run: echo NIX_VERSION="$(nix eval .\#nix.version | tr -d \")" >> $GITHUB_ENV
    - run: nix build .#dockerImage -L
    - run: docker load -i ./result/image.tar.gz
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Push to Docker Hub
      env:
        IS_MASTER: ${{ inputs.is_master }}
        DOCKERHUB_REPO: ${{ secrets.DOCKERHUB_USERNAME }}/nix
      run: "docker tag nix:$NIX_VERSION $DOCKERHUB_REPO:$NIX_VERSION\ndocker push\
        \ $DOCKERHUB_REPO:$NIX_VERSION\nif [ \"$IS_MASTER\" = \"true\" ]; then\n \
        \ docker tag nix:$NIX_VERSION $DOCKERHUB_REPO:master\n  docker push $DOCKERHUB_REPO:master\n\
        fi\n"
    - name: Login to GitHub Container Registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Push to GHCR
      env:
        IS_MASTER: ${{ inputs.is_master }}
      run: "IMAGE_ID=ghcr.io/${{ github.repository_owner }}/nix\nIMAGE_ID=$(echo $IMAGE_ID\
        \ | tr '[A-Z]' '[a-z]')\n\ndocker tag nix:$NIX_VERSION $IMAGE_ID:$NIX_VERSION\n\
        docker push $IMAGE_ID:$NIX_VERSION\nif [ \"$IS_MASTER\" = \"true\" ]; then\n\
        \  docker tag nix:$NIX_VERSION $IMAGE_ID:master\n  docker push $IMAGE_ID:master\n\
        fi\n"
