name: Label PR
on:
  workflow_dispatch: {}
permissions:
  contents: read
  pull-requests: write
jobs:
  labels:
    runs-on: ubuntu-24.04
    if: github.repository_owner == 'NixOS'
    steps:
    - uses: actions/labeler@v6
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        sync-labels: false
