name: Test
on:
  pull_request: null
  push: null
jobs:
  tests:
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: cachix/install-nix-action@v8
    - run: nix-build release.nix --arg nix '{ outPath = ./.; revCount = 123; shortRev
        = "abcdefgh"; }' --arg systems '[ builtins.currentSystem ]' -A installerScript
        -A perlBindings
    - run: nix-build release.nix --arg nix '{ outPath = ./.; revCount = 123; shortRev
        = "abcdefgh"; }' --arg systems '[ builtins.currentSystem ]' -A binaryTarball
        -o binaryTarball
    - uses: actions/upload-artifact@v2
      with:
        name: binaryTarball
        path: binaryTarball/*.tar.*
